<div class="row">
    <div id="homebackgroudn" class="col s10 offset-s1">

        <div input-field>
            <select ng-model="select.value" material-select>
                <option ng-repeat="e in allEvents" value="{{e.eId}}">{{e.eNaziv}}</option>
            </select>
        </div>


        <!-- ------------------------------>
        <div class="row">
            <div class="input-field col s12">
                <input ng-model="event.eNaziv" id="event.eNaziv" type="text" class="validate">
                <label for="event.eNnaziv">Naziv dogadja</label>
            </div>

            <div class="input-field col s12">
                <input ng-model="event.eOpis" id="event.eOpis" type="text" class="validate">
                <label for="event.eOpis">Detaljan opis</label>
            </div>

            <!--<div class="input-field col s12">-->
            <!--<input ng-model="event.eOcena" id="event.eOcena" type="text" class="validate">-->
            <!--<label for="event.eOcena">Ocena</label>-->
            <!--</div>-->


            <div class="input-field col s6">
                <input ng-model="event.eCena" id="event.eCena" type="text" class="validate">
                <label for="event.eCena">Cena</label>
            </div>


            <div class="col s6">
                <label for="date">Datum OD</label>
                <input ng-model="event.eDatum" name="date" type="date" class="datepicker"/>
            </div>

            <div class="col s6 right">
                <label for="textarea1">Duzina trajanja</label>
                <input ng-model="event.eDatumDani" placeholder="( u danima )" id="first_name"
                       type="text"
                       class="validate">
            </div>
        </div>

        <div class="col s6 offset-s3">
            <input ng-click="updateMap()" style="color: black" id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="mapUpdate" class="map"></div>
        </div>

        <div class="col s12 center">
            <button ng-click="update()" class="btn-large waves-effect waves-light" type="submit"
                    name="action">Submit
                <i class="material-icons right"></i>
            </button>
        </div>

        <script>
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            $(document).ready(function () {
                $('select').material_select();
            });
        </script>
    </div>



</div>
</div>