<html ng-app="myApp">
<head>
    <% include partials/head.ejs %>
</head>


<body ng-controller="myCtrl" ng-cloak>

<!--NaviBar-->

<% include partials/naviBar.ejs %>

<!--Body-->

<div class="row">
    <div id="homebackgroudn" class="col s10 offset-s1">


        <div class="card darken-1">
            <div class="card-content white-text">
                <div class="card-title col s12">
                    {{res.eNaziv}}
                    <div class="rating-stars col s2 right">
                        <input type="radio" name="stars" id="star-null">
                        <input ng-disabled="disabled" ng-click="uReviewSend()" ng-model="uReview" type="radio"
                               name="stars" id="star-1" value="1" data-start="1" checked="">
                        <input ng-disabled="disabled" ng-click="uReviewSend()" ng-model="uReview" type="radio"
                               name="stars" id="star-2" value="2" data-start="2" checked="">
                        <input ng-disabled="disabled" ng-click="uReviewSend()" ng-model="uReview" type="radio"
                               name="stars" id="star-3" value="3" data-start="3" checked="">
                        <input ng-disabled="disabled" ng-click="uReviewSend()" ng-model="uReview" type="radio"
                               name="stars" id="star-4" value="4" data-start="4" checked="">
                        <input ng-disabled="disabled" ng-click="uReviewSend()" ng-model="uReview" type="radio"
                               name="stars" id="star-5" value="5" checked="">
                        <section>
                            <label for="star-1">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                </svg>
                            </label>
                            <label for="star-2">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                </svg>
                            </label>
                            <label for="star-3">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                </svg>
                            </label>
                            <label for="star-4">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                </svg>
                            </label>
                            <label for="star-5">
                                <svg width="255" height="240" viewBox="0 0 51 48">
                                    <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"></path>
                                </svg>
                            </label>
                        </section>
                    </div>
                </div>
                <span>{{res.eOpis}}</span>
                <span>{{res.eId}}</span>
            </div>
            <div class="card-action">
                <div class="row">
                    <span class="col s6 left">Datum: <b>{{res.eDatum}}</b></span>
                    <span class="col s6 right">Cena: <b>{{res.eCena}}</b></span>
                </div>
            </div>
        </div>
        <div id="map" style="margin-top: 1rem" class="map col s12"></div>

        <div class="input-field col s6 offset-s3">
            <i class="material-icons prefix">comment</i>
            <input ng-model="comment.uComment" id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Komentar</label>
        </div>
        <div class="col s12 center">
            <button ng-click="send()" class="waves-effect waves-light btn">Postavi komnetar</button>
        </div>
        <div ng-repeat="x in comments" class="col s8 offset-s2 center">
            <div class="card blue-grey darken-4">
                <div class="card-content white-text">
                    <p><b>{{x.uFirstName}}</b></p><br>
                    <p>{{x.uComment}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<% include partials/footer.ejs %>
<!---->

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
</body>
</html>