<!DOCTYPE html>
<html ng-app="myApp">

<% include partials/head.ejs %>

<body ng-controller="myCtrl" ng-cloak>


<div class="row">
    <div class="col s12 m5">
        <div class="card-panel teal">
          <p class="white-text">Aktiviraj nalog!</p>
            <button ng-click="activation()" class="waves-effect waves-light btn">AKTIVACIJA</button>
        </div>
    </div>
</div>


</body>
</html>